/* MENU */


/* MENU LISTA */
.menu__lista {
    display: flex;
}

/* MENU ITEM */
.menu__item {
    padding: 0.75rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;

    text-align: center;
}

/* MENU LINK */
.menu__link {
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    color: #565656;
    
}


/* MEDIA QUERIES */
@media screen and (max-width: 1024px) {
    .menu__lista {
        justify-content: space-between;
        width: 80vw;
        position: absolute;
        left: 15vw;
    

    }

    .menu__link {
        font-size: 3rem;
    }

    .menu__link--botao {
        display: none;
    }
}

